html, body {
  margin: 0;
  padding: 0;

  font-family: fantasy;
  color: pink;

}

canvas {
  display: block;
}

.greeting {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 200px;

}

.button1 {
  position: absolute;
  right: 10px;
  top: 200px;
  width: 200px;
}

.button2 {
  position: absolute;
  right: 10px;
  top: 250px;
  width: 200px;
}

.button3 {
  position: absolute;
  right: 10px;
  top: 300px;
  width: 200px;
}

.button4 {
  position: absolute;
  right: 10px;
  top: 350px;
  width: 200px;
}

.button5 {
  position: absolute;
  right: 10px;
  top: 400px;
  width: 200px;
}

.button6 {
  position: absolute;
  right: 10px;
  top: 450px;
  width: 200px;
}
